.weather-app {
  background-color: #e2cccc;
  background-image: url("sketchvalley-quarentine.png");
  min-height: 760px;
  max-width: 660px;
  background-position: bottom;
  background-repeat: no-repeat;
  border-radius: 20px;

  margin: 20px auto;
}
ul {
  margin: 0 auto;
  list-style: none;
  padding: 0px;
}
li {
  padding: 0;
}
h1 {
  font-family: "Lobster", cursive;
}
.brand-bar {
  background-color: #d63083;
  width: 100%;
  border-radius: 20px 20px 0 0;
  padding-top: 30px;
  padding-bottom: 10px;
}
.brand {
  color: #f6f5f6;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1.5px 1.5px 0 #000;
  font-size: 54px;
  padding: 0 0 0 60px;
}
#extra-column {
  padding: 0;
}
#currentWeather {
  padding: 0;
}
#current-city {
  font-family: "Lobster", cursive;
  margin: 0;
}
h2,
h3,
p {
  font-family: "Baloo Tamma 2", cursive;
  margin: 0;
}
.overview {
  font-family: "Baloo Tamma 2", cursive;
}
.units {
  position: relative;
  font-size: 16px;
  top: -32px;
}
#description-more-info {
  padding-top: 60px;
  padding-left: 0;
}
.description {
  font-size: 30px;
}
#forecast {
  padding: 20px;
  text-align: center;
}
.col-2-auto {
  padding: 15px;
}

#inlineFormInputName2 {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.btn {
  margin-right: 5px;
  background-color: #88d5fc;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.fas,
.far {
  font-size: 20px;
  color: #343434;
}

.fa-search-location {
  font-size: 20px;
}
#current-icon {
  padding: 0;
  position: relative;
}
#temperature {
  font-size: 64px;
}
footer {
  text-align: center;
  font-family: "Baloo Tamma 2", cursive;
  font-size: 14px;
}
.active {
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
  color: black;
}
