.weather-app {
  background-color: #e2cccc;
  background-image: url("sketchvalley-quarentine.png");
  min-height: 760px;
  max-width: 700px;
  background-position: bottom;
  background-repeat: no-repeat;
  border-radius: 20px;

  margin: 20px auto;
}
ul {
  display: block;
  margin: 0 auto;
  text-align: center;
  list-style: none;
  padding: 10px;
}
h1 {
  font-family: "Lobster", cursive;
}
.brand {
  color: #ffffff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1.5px 1.5px 0 #000;
  font-size: 70px;
  padding: 25px 0px 15px 96px;
}
.col-md-6-auto {
  text-align: center;
}
#current-city {
  font-family: "Lobster", cursive;
}
h2,
h3,
p {
  font-family: "Baloo Tamma 2", cursive;
}
#forecast {
  padding: 20px;
}
.btn {
  margin-right: 5px;
}
.fas {
  font-size: 40px;
}

.fa-search-location {
  font-size: 20px;
}
#current {
  font-size: 80px;
}
#temperature {
  font-size: 60px;
}
footer {
  display: block;
  margin: 0 auto;
  font-family: "Baloo Tamma 2", cursive;
  font-size: 14px;
}
